{
  "plugins": ["prettier-plugin-organize-imports"],
  "singleQuote": true,
  "trailingComma": "all",
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "source.organizeImports": true
  }
}